html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.markdown-body code {
  background-color: #f5f5f5; /* light gray background */
  color: #100d0e;           /* nice readable color */
  padding: 2px 4px;
  border-radius: 4px;
  font-family: 'Fira Code', monospace; /* or any monospace font */
  font-size: 0.9em;
}
